html, body {
    background-image: url("../../assets/images/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}
Header {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    color: rgb(219, 215, 215);
}

