html, body {
    background-image: url("../../assets/images/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}

Header {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    color: rgb(45, 8, 80);
}

.findHeading {
    font-family: 'Lobster', cursive;
    color: rgb(45, 8, 80)
}

.radioChoice {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 h2 {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: rgb(45, 8, 80);
 }

#selectedLocation {
    color: white;
    text-transform: capitalize;
    text-align: center;
}

#changeLocation, #locationField {
    text-align: center;
}

.box, .restaurantCard {
    margin: 10px;
    border: 5px solid white;
}

.recipe-click-button  .recipe-details {
    display: none;
}

.recipe-details {
    color: white;
    text-align: center;
}

.mfp-inline-holder {
    background-color: black;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.btn-custom {

background-color:#6A6A6A;
color:white;
}

#submit {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    color: rgb(45, 8, 80);
    border: none;
}
